Resources/AService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/aservice"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://example.com/aservice"
    name="AService">

    <!-- ================== TYPES ================== -->
    <types>
        <xs:schema targetNamespace="http://example.com/aservice"
                   elementFormDefault="qualified">

            <!-- Header -->
            <xs:complexType name="GetAHeader">
                <xs:sequence>
                    <xs:element name="requestor" type="xs:string"/>
                    <xs:element name="requestDateTime" type="xs:string"/>
                    <xs:element name="callingContext" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Filter -->
            <xs:complexType name="GetAFilter">
                <xs:sequence>
                    <xs:element name="includeNames" type="xs:boolean"/>
                    <xs:element name="includeTrees" type="xs:boolean"/>
                    <xs:element name="includeRoads" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Wrapped Request -->
            <xs:element name="GetARequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="header" type="tns:GetAHeader"/>
                        <xs:element name="filter" type="tns:GetAFilter"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Wrapped Response -->
            <xs:element name="GetAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="header" type="tns:GetAHeader"/>
                        <xs:element name="Names">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Category" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CategoryName" type="xs:string"/>
                                                <xs:element name="Name" type="xs:string" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

    <!-- ================== MESSAGES ================== -->

    <message name="GetARequestMessage">
        <part name="parameters" element="tns:GetARequest"/>
    </message>

    <message name="GetAResponseMessage">
        <part name="parameters" element="tns:GetAResponse"/>
    </message>

    <!-- ================== PORT TYPE ================== -->
    <portType name="AServicePortType">
        <operation name="GetANames">
            <input message="tns:GetARequestMessage"/>
            <output message="tns:GetAResponseMessage"/>
        </operation>
    </portType>

    <!-- ================== BINDING ================== -->
    <binding name="AServiceBinding" type="tns:AServicePortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="GetANames">
            <soap:operation soapAction="http://example.com/aservice/GetANames"/>

            <input>
                <soap:body use="literal"/>
            </input>

            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- ================== SERVICE ================== -->
    <service name="AService">
        <port name="AServicePort"
              binding="tns:AServiceBinding">
            <soap:address location="http://localhost:7800/api/AService"/>
        </port>
    </service>

</definitions>
